{% extends 'AppHome/padre.html' %}

{% load static %}

{% block contenidocambiado %}
    <br>
    <div style="margin-left: 20px;">
        <h3>Actualizar avatar</h3>
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            {{ miFormulario.as_p  }}
      

            <input type="submit" value="Actualizar">


        </form>
    </div>
    <br>

    <div style="margin-left: 20px;">
        <a href="{% url 'Perfil' %}">Regresar</a>
    </div>  

{% endblock contenidocambiado %}