{% extends 'AppHome/padre.html' %}

{% load static %}

{% block contenidopost %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR POST</title>
</head>
<body>
    
    <br>
    <p style="color: rgb(0, 0, 0);" style="font-size: 8px;">CREAR UN NUEVO POST</p>
    <br>

    <form method="POST" enctype="multipart/form-data">
        
        {% csrf_token %}

        {{FormularioPost.media}}
        {{FormularioPost.as_p}}

        <input type="submit" value="Enviar">

    </form>
</body>
</html>

{% endblock contenidopost %}