<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Detalle</title>
</head>
<body>

    <p>FECHA: <i>{{ post.Fecha }}</i></p>
    <p>TITULO DEL POST: <i>{{ post.Titulo }}</i></p>
    <p>SUBTITULO DEL POST: <i>{{ post.Subtitulo }}</i></p>
    <p>AUTOR DEL POST: <i>{{ post.Autor }}</i></p>
    <p>DETALLE: <i>{{ post.Cuerpo }}</i></p>
    
    <p>
        <a href="{% url 'Lista' %}">Regresar</a>
    </p>

    
</body>
</html>