{% extends "AppHome/padre.html" %}

{% load static %}

{% block contenidocambiado %}


    <div style="color: blue;">
        <h1>Editar perfil de usuario: {{usuario}}</h1>
    </div>
    
    
    

    <form action="" method="POST">{% csrf_token %}
     
        <table>

            {{ miFormulario.as_table }}


        </table>

        <br>
        <input type="submit", value="Enviar">

    </form>

    <br>
    <a href="{% url 'AgregarAvatar' %}">Actualizar avatar</a>

  

{% endblock contenidocambiado %}