{% extends 'AppHome/padre.html' %}

{% load static %}

{% block contenidopost %}
<br>
<br>

<div class="text-center">

    <span style="color: blue; border-image: initial; border: 3px solid black; font-size: 30px; border-radius: 8px">David Campanella</span>

</div>
<br>
<div class="text-center">

    <p style="font-size: 15px;">
        Mi nombre es David, tengo 24 años (recien cumplidos), vivo en Argentina, Mendoza. Soy Tecnico Universitario en Redes de Datos y Telecomunicaciones.
        Trabajo en una empresa proveedora de internet llamada Westnet internet como Supervisor de Instalaciones. <br><br>
        Arranque este curso porque quiero ampliar mis conocimientos y porque tenia muy buenos comentarios de CODERHOUSE. Mi idea es seguir haciendo cuersos dentro de la 
        plataforma para poder seguir especializandome en python o programacion web. <br><br>
        Mis redes sociales son:<br>

        <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">
                <a href="https://www.facebook.com/CampanellaDavid/"><i class="bi-facebook fs-3"></i></a>
            </li>
            <li class="list-inline-item me-4">
                <a href="https://www.linkedin.com/in/david-campanella/"><i class="bi-linkedin fs-3"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/DavidCCoder"><i class="bi-github fs-3"></i></a>
            </li>
        </ul>

        
    </p>
    

</div>

<br>
<br>

<div class="text-center">

    <span style="color: rgb(226, 116, 135); border-image: initial; border: 3px solid black; font-size: 30px; border-radius: 8px">Delfina Carman</span>

</div>
<br>
<div class="text-center">

    <p style="font-size: 15px;">
        Mi nombre es Delfina, tengo 23 años, vivo en Buenos Aires, Argentina. Estoy terminando la carrera de Ingeniería Industrial.
        Trabajo en Pan American Energy, en el área de Nuevos Negocios y Alianzas Estratégicas. <br><br>
        Hice este curso para entrar en el mundo de la programación, y planeo seguir estudiando y aprendiendo. <br><br>
        Mis redes sociales son:<br>

        <ul class="list-inline mb-0">
            <li class="list-inline-item me-4">
                <a href="https://www.facebook.com/delfi.carman/"><i class="bi-facebook fs-3"></i></a>
            </li>
            <li class="list-inline-item me-4">
                <a href="https://www.linkedin.com/in/delfina-carman-54a0351b7/"><i class="bi-linkedin fs-3"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="https://github.com/delficarman"><i class="bi-github fs-3"></i></a>
            </li>
        </ul>

        
    </p>
    

</div>



{% endblock contenidopost %}