{% extends 'AppHome/padre.html' %}

{% load static %}

{% block contenidopost %}

<br>


    <span style="color:blue;border-image: initial; border: 3px solid blue; font-size: 30px; margin-left: 5px;">Lista de Mensajes: </span>
    <br>
    <br>
    <ul>
        {% for mensaje in object_list %}

            <li>
                <p>AUTOR: {{ mensaje.Autor }} </p>
                <P>ASUNTO: {{ mensaje.Asunto }} </P>
                <p> 
                    <a href="{% url 'DetalleMensajes' mensaje.id %}">Ver</a> 
                </p> 
            </li>

        {% endfor %}
    </ul>

    <a href="{% url 'Mensajes' %}" style="margin-left: 10px;">Regresar</a> 


{% endblock contenidopost %}