{% extends 'AppHome/padre.html' %}

{% load static %}

{% block contenidocambiado %}

<nav class="navbar navbar-light bg-light static-top">
    <div style="text-align: left; margin: 30px;">
        <a class="btn btn-secondary" style="background-color: rgb(124, 223, 120); color: black;" href="{% url 'EditarPerfil' %}">Editar perfil</a>
        <a class="btn btn-secondary" style="background-color: rgb(124, 223, 120); color: black;" href="{% url 'InfoPerfil' %}">Ver perfil</a>
        <a class="btn btn-secondary" style="background-color: rgb(124, 223, 120); color: black;" href="{% url 'AgregarAvatar' %}">Actualizar avatar</a>
    </div>
</nav>

{% endblock contenidocambiado %}